# my pandas cheatsheet

Easy access codes

### Import the necessary libraries

In [ ]:
import pandas as pd

### Import the data

In [ ]:
# dataset based on European soccer teams
url_euro_teams = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv'
euro_teams = pd.read_csv(url_euro_teams, sep = ',')

# dataset based on Chipotle orders
url_chipo = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url_chipo, sep = '\t')

### Get a feel for what dataset looks like.

In [26]:
# assign which dataset we're looking at
test_data = euro_teams

# See first 10 entries
test_data.head()

# Row count
rows = test_data.shape[0]
print("Number of rows: ", str(rows))

# Column count
columns = test_data.shape[1]
print("Number of columns: ", str(columns))

# Column names
print("Column names: ", str(test_data.columns))

# Indexing method
print("Index method: ", str(chipo.index))

# Data types of all columns
print("Data types for entire dataframe: ")
test_data.info()

# Data type of particular column
print("Data type of Goals column specifically is: ", str(euro_teams.Goals.dtype))

Number of rows:  16
Number of columns:  35
Column names:  Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')
Index method:  RangeIndex(start=0, stop=4622, step=1)
Data types for entire dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
Team                          16 non-null object
Goals                         16 non-null int64
Shots on target               16 non-null int64
Shots off target              16 non-null int64
Shooting Accuracy             16 non-null object
% Goals-to-shots              16 non-null object
Total shots (inc. Blocked)    16 non-null int64
Hit Woodwork                  16 non-null int64
Penalty goals                 16 non-null int64
Penalties not scored          16 non-null int64
Headed goals                  16 non-null int64
Passes                        16 non-null int64
Passes completed              16 non-null int64
Passing Accuracy              16 non-null object
Touches                       16 non-null int64
Crosses                       16 non-null int64
Dribbles                      16 non-null int64
Corners Taken                 16 non-null int64
Tackles                       16 non-null int64
Clearances                    16 non-null int64
Interceptions                 16 non-null int64
Clearances off line           15 non-null float64
Clean Sheets                  16 non-null int64
Blocks                        16 non-null int64
Goals conceded                16 non-null int64
Saves made                    16 non-null int64
Saves-to-shots ratio          16 non-null object
Fouls Won                     16 non-null int64
Fouls Conceded                16 non-null int64
Offsides                      16 non-null int64
Yellow Cards                  16 non-null int64
Red Cards                     16 non-null int64
Subs on                       16 non-null int64
Subs off                      16 non-null int64
Players Used                  16 non-null int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.5+ KB
Data type of Goals column specifically is:  int64

### Get summaries on certain columns of interest

In [126]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,item_price2
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

### Get descriptive stats on one column in particular

In [135]:
# column of interest is 'quantity' in the chipo dataset
chipo.quantity.describe()

count    4622.000000
mean        1.075725
std         0.410186
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        15.000000
Name: quantity, dtype: float64

In [67]:
# The most frequently ordered item in general
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
print("The most frequently order item was: ")
print (c.head(6))

# The most frequently ordered subchoice:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
print("\nThe most frequently ordered subchoice was: ")
print (c.head(6))

# Can summarize one column this way
total_items_orders = chipo.quantity.sum()
print("\nThe sum of the quanitity column is: ", str(total_items_orders))

The most frequently order item was:
                     order_id  quantity  item_price2
item_name
Chicken Bowl           713926       761      7342.73
Chicken Burrito        497303       591      5575.82
Chips and Guacamole    449959       506      2201.04
Steak Burrito          328437       386      3851.43
Canned Soft Drink      304753       351       438.75
Chips                  208004       230       494.34

The most frequently ordered subchoice was:
                                                    order_id  quantity  \
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     37550        40

                                                    item_price2
choice_description
[Diet Coke]                                              326.71
[Coke]                                                   288.79
[Sprite]                                                 133.93
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...       432.25
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...       372.64
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...       455.50

The sum of the quanitity column is:  4972

### Lambda functions

In [43]:
# Tiny function that gets rid of '$' and turns str into a float
dollarizer = lambda x: float(x[1:-1])

print ("Item price before being dollarized: \n", str(chipo.item_price[:4]))
chipo = chipo.assign(item_price2 = chipo.item_price.apply(dollarizer))
print ("\n Item price after being dollarized: \n", str(chipo.item_price2[:4]))

Item price before being dollarized:
 0    $2.39
1    $3.39
2    $3.39
3    $2.39
Name: item_price, dtype: object

 Item price after being dollarized:
 0    2.39
1    3.39
2    3.39
3    2.39
Name: item_price2, dtype: float64

### Unique values in a column

In [53]:
# How many different teams are there?
euro_teams['Team'].nunique()

# same thing
print("Number of teams: ", str(euro_teams.Team.nunique()))

Number of teams:  16

### View only certain columns and rows

In [97]:
# filter only giving the column names
discipline = euro_teams[['Team', 'Yellow Cards', 'Red Cards', 'Goals']]
print("Selected columns only: ")
print(discipline)

# filter to certain rows
discipline_shortlist = discipline[3:7]
print("\nSubset of rows: ")
print(discipline_shortlist)

Selected columns only:
                   Team  Yellow Cards  Red Cards  Goals
0               Croatia             9          0      4
1        Czech Republic             7          0      4
2               Denmark             4          0      4
3               England             5          0      5
4                France             6          0      3
5               Germany             4          0     10
6                Greece             9          1      5
7                 Italy            16          0      6
8           Netherlands             5          0      2
9                Poland             7          1      2
10             Portugal            12          0      6
11  Republic of Ireland             6          1      1
12               Russia             6          0      5
13                Spain            11          0     12
14               Sweden             7          0      5
15              Ukraine             5          0      2

Subset of rows:
      Team  Yellow Cards  Red Cards  Goals
3  England             5          0      5
4   France             6          0      3
5  Germany             4          0     10
6   Greece             9          1      5

### Sort and filter tricks

In [100]:
# discipline is a shorter version of euro_teams

# Round and take the mean
print("The rounded mean # of yellow cards is: ", str(round(discipline['Yellow Cards'].mean())))

# Sort based on multiple values (first red cards and then by yellow cards)
print('\nThe red card - yellow card - goals sorted set is:')
print(discipline.sort_values(['Red Cards', 'Yellow Cards', 'Goals'], ascending = False))

# Filter based on number of goals scored
print('\nA subset of only the teams with a minimum 7 goals: ')
print(discipline[discipline.Goals > 6])

# Filter based on team name strings
print('\nOnly those teams that begin with the letter C')
print(discipline[discipline.Team.str.startswith('C')])

The rounded mean # of yellow cards is:  7

The red card - yellow card - goals sorted set is:
                   Team  Yellow Cards  Red Cards  Goals
6                Greece             9          1      5
9                Poland             7          1      2
11  Republic of Ireland             6          1      1
7                 Italy            16          0      6
10             Portugal            12          0      6
13                Spain            11          0     12
0               Croatia             9          0      4
14               Sweden             7          0      5
1        Czech Republic             7          0      4
12               Russia             6          0      5
4                France             6          0      3
3               England             5          0      5
8           Netherlands             5          0      2
15              Ukraine             5          0      2
5               Germany             4          0     10
2               Denmark             4          0      4

A subset of only the teams with a minimum 7 goals:
       Team  Yellow Cards  Red Cards  Goals
5   Germany             4          0     10
13    Spain            11          0     12

Only those teams that begin with the letter C
             Team  Yellow Cards  Red Cards  Goals
0         Croatia             9          0      4
1  Czech Republic             7          0      4

### Accessing subsets of the data based on location with iloc and loc functions

In [125]:
# use .iloc to slices via the position of the passed integers
# : means all, 0:7 means from 0 to 7
print("All teams/rows, but only 3 columns in the middle:")
print(euro_teams.iloc[: , 4:7])

# use negative to exclude the last 3 columns
print("\nOnly the last 8 teams, and only the last 3 columns:")
print(euro_teams.iloc[:-8, -3:])

# .loc is another way to slice, using the labels of the columns and indexes
print("\nOnly certain teams and certain columns specified by name:")
print(euro_teams.loc[euro_teams.Team.isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']])

# Get location of a certain cell when having a mix of names and indexed locations
print("\nMixing it up: ")
col_name = euro_teams.columns[5]
euro_teams.loc[euro_teams.Team.isin(['Croatia']), [col_name]]

All teams/rows, but only 3 columns in the middle:
   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

Only the last 8 teams, and only the last 3 columns:
   Subs on  Subs off  Players Used
0        9         9            16
1       11        11            19
2        7         7            15
3       11        11            16
4       11        11            19
5       15        15            17
6       12        12            20
7       18        18            19

Only certain teams and certain columns specified by name:
       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

Mixing it up:

  % Goals-to-shots
0            16.0%

### A chain of tidying to group, get means, and then sort

In [130]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
drinks = pd.read_csv(url, sep = ',')

# A chain to sort values based on beer serving averages by continent
print('Here are average number of wine servings by continent: ')
print(drinks.groupby('continent').beer_servings.mean().sort_values(ascending=False))

# A chain to get wine stats by continent
print('\nHere are the stats on wine servings by continent')
print(drinks.groupby('continent').wine_servings.describe())

# A chain to get multiple stats on a given column in one dataframe
print('\nHere are a bunch of stats aggregated bout spirit servings: ')
print(drinks.groupby('continent').spirit_servings.agg(['mean', 'median', 'min', 'max']))

Here are average number of wine servings by continent:
continent
EU    193.777778
SA    175.083333
OC     89.687500
AF     61.471698
AS     37.045455
Name: beer_servings, dtype: float64

Here are the stats on wine servings by continent
           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

Here are a bunch of stats aggregated bout spirit servings:
                 mean  median  min  max
continent
AF          16.339623     3.0    0  152
AS          60.840909    16.0    0  326
EU         132.555556   122.0    0  373
OC          58.437500    37.0    0  254
SA         114.750000   108.5   25  302

### Eliminate hierachical indexing with 'unstack'

In [136]:
# Data
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
regiment = pd.DataFrame(raw_data, columns = raw_data.keys())

# Normal indexing
print('Normal way: ')
print(regiment.groupby(['regiment', 'company']).preTestScore.mean())

# Print getting rid of that
print('\nUnstacked: ')
print(regiment.groupby(['regiment', 'company']).preTestScore.mean().unstack())

# Number of observations overall
print('\n number of observations per regiment/company: ')
print(regiment.groupby(['regiment', 'company']).size())

Normal way:
regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

Unstacked:
company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

 number of observations per regiment/company:
regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

### Random tricks that should probably be organized elsewhere

In [1]:
# When wanting to round up an int here's a nice trick I discovered that takes advantage of
# the fact the True = 1, and False = 0

round_typical = int(21 / 5)
print("This is typically int rounding down: ", str(round_typical))

round_up = int(21 / 5) + (21 % 5 > 0)
print("This is how you get in to round up: ", str(round_up))

This is typically int rounding down:  4
This is how you get in to round up:  5