# Most important pandas takeaways

Easy access codes

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the data

In [18]:
# dataset based on European soccer teams
url_euro_teams = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv'
euro_teams = pd.read_csv(url_euro_teams, sep = ',')

# dataset based on Chipotle orders
url_chipo = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url_chipo, sep = '\t')

### Step 3. Get a Feel for what it looks like.

In [12]:
# assign which dataset we're looking at
test_data = euro_teams

# See first 10 entries
test_data.head()

# Row count
rows = test_data.shape[0]
print("Number of rows: ", str(rows))

# Column count
columns = test_data.shape[1]
print("Number of columns: ", str(columns))

# Column names
test_data.columns

Number of rows:  16
Number of columns:  35

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

### Step 4. Get summaries on certain columns of interest

In [19]:
# assign which dataset we're looking at
test_data = chipo

# Aggretate groups of a given column
c = test_data.groupby('item_name')

# Create a summary of that group
c = c.sum()

# sort the columns based on that summary
c = c.sort_values(['quantity'], ascending=False)

# Highlight nÂ¨mber of groups of interest
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761